@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {

    width: 100%;
    font-family: 'Lato', sans-serif;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}



.outermostcontainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid red; */
}

.outercontainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid red; */

}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

.clearfix {
    display: flow-root;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fs24 {
    font-size: 24px;
}

.fs16 {
    font-size: 16px;
}

.fwreg {
    font-weight: 400;
}

.fwmed {
    font-weight: 500;
}

.fwbold {
    font-weight: 700;
}

.white {
    color: white;
}



.blue {
    display: inline-block;
    margin-top: 39px;
    color: #006dfe;
}

/* small headings */
.darkblue {
    color: #102746;
}

.h2div a {
   color:#006dfe;
   position: relative;
   top:8px;
}



.rb {
    outline: 2px solid red;
}

.gb {
    outline: 3px solid rgb(1, 255, 1);

}

.bb {
    outline: 2px solid blue;
}

/* paragraphs */
.fs16_fwreg_lh24 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



/* benefits */
.fs18_lh24 {
    font-size: 18px;
    line-height: 24px;
}


/* footer */
.fs18_fwmed_lh24 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

h2 {
    color: #102746;

}

h3 {
    color: black;
}



/* header */

header {
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
    color:black;
}

.logo {

    width: 82px;
    height: 31px;
}

nav {
    position: relative;
}


nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    top:4px;
}

nav a {
    font-size: 18px;
    color: white;
}

.menu a {
    margin-left: 82px;
}

/* header */


/* hero */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/hero.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    width: 100%;
    margin: 0 auto;
    height: 130vh;
    min-height:770px;
    /* height: 100vh; */
    /* height: 770px; */
    /* height: 100%; */
    position: relative;
}


.middle {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle h1 {
    width: 60%;
    font-size: 50px;
}

.middle p {
    width: 50%;
    margin-top: 22px;
}

form {
    margin-top: 60px;
}

.forms::after {
    content: "";
    display: block;
    background-color: white;
    width: 85%;
    height: 2px;
}

label {
    margin-right: 10px;
    color: white;
}

input {
    margin-right: 50px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    width: 250px;
    height: 60px;
    background: transparent;
}

::placeholder {
    color: white;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: none !important;
}

.btn {
    color: white;
    background-color: #1b7dff;
    border-radius: 3px;
    border: none;
}

.lg {
    position: relative;
    top:5px;
    font-size: 24px;
    padding: 15px 35px;
}

button:hover {
    cursor: pointer;
}

/* white */

.benefits {
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.5);
    position: relative;
    transform: translate(0%, -25%);

}

.benefits h2 {
    margin-bottom: 60px;
}

.benefits p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
}

.content {
    width: 100%;
}

.benefits_card3 {
    width: calc((100% - 260px / 3));
    
}

.cards {
    margin-right: 130px;
}

.icons {
    width: 65px;
    height: 65px;
}

h4{
    margin-top:37px;
}

.benefitsbox {
    text-align: left;
    width: 280px;

}


.sections {
    width: 100%;
    padding: 100px 0px;
}



.content .card6 {
    width: calc(100% / 3);

}


.h2div h2::after {
    content: "";
    display: block;
    background-color: #006dfe;
    margin-top: 7px;
    height: 2px;
    width: 55%;
}


/* inspired section */

.outer {
    width: 100%;
    /* font-size: 0; */
}

.outer h1 {
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    bottom: 7%;
    left: 5%;
    color: white;
}

.top{
    margin-top: 40px;
}

.topby2 {
    width: calc((100% - 10px) / 2);
}

.botby3 {
    width: calc((100% - 20px) / 3);
}

.bgimage {
    position: relative;
    height: 354px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100% 100%;
}

.bot {
    margin-top: 10px;
}

.image1 {
    margin-right: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image1.png');
}

.image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image2.png');
}

.image3 {
    margin-right: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image3.png');
}

.image4 {
    margin-right: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image4.png');
}

.image5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image5.png');
}


/* inspired section */



/* zigzag section */

.zigzag{
 margin-top:131px;
}

.zig1 {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    margin-right: 50px;
}

.zig2 {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.zig1div {
    position: relative;
}

.zig2div {
    position: relative;
    margin-top: 80px;
}

.zigtopby2 {
    width: calc((100% - 80px) / 2);
}


h3 {
    font-size: 30px;
    font-weight: 500;
}

.inner {
    display: flow-root;
    width: 100%;
    position: relative;
    margin: 70px 0;
}


.textdiv1 {
    padding: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}

.textdiv2 {
    padding: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}

.textdiv1 p, .textdiv2 p{
    margin-top: 45px;
    line-height: 24px;
}

/* zigzag section */



/* 6 pic layout */
.topplaces{
    margin-top:139px;
}

.topplaces p{
    margin-top: 45px;
    line-height: 24px;
}

.cards-top-row {
    width: 100%;
    margin-top:54px;
}

.cards-bot-row{
    margin-top:58px;
}

.three {
    width: calc((100% - 116px) / 3);
}

.botbar {
    background-color: rgba(21, 24, 36, 0.6);
    color: white;
    padding: 10px 0 10px 10px;
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
}

.botbar p {
    margin-right: 20px;
    display: inline;
    color: white;
}

.botbar i {
    margin-left: 5px;

}

.hp6 {
    margin-right: 58px;
}

.sm {
    margin-top: 31px;
    padding: 10px 10px;
}

.img1 {
   
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img1.png');
}

.img2 {
    
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img2.png');
}

.img3 {
    
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img3.png');
}

.img4 {
    
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img4.png');
}

.img5 {
    
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img5.png');
}

.img6 {
    
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img6.png');
}

/* 6 pic layout */



/* video section */

.video {
    margin-top: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/video.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 609px;
    width: 100%;
    position: relative;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* video section */

/* footer */

footer,
.footerdiv {

    background-color: #0e1d28;
    height: 370px;
    position: relative;
    width: 100%;
    margin: 0 auto;

}

.footer a {
    width: 20%;
}

.footerdiv li {
    margin-top: 15px;
}

.foot ul a{
    line-height: 24px;
}

.footerdiv ul a:nth-child(1) {
    font-size: 18px;
    
}

.footlogo {
    width: 130px;
    position: absolute;
    top: 30%;
}

.foot {
    margin-left: 100px;
}

.footersection {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    margin: 0 auto;
}

/* footer */