@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0;
}

.outermostcontainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.outercontainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */

}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

}

.clearfix {
    display: flow-root;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fs24 {
    font-size: 24px;
}

.fs16 {
    font-size: 16px;
}

.fwreg {
    font-weight: 400;
}

.fwmed {
    font-weight: 500;
}

.fwbold {
    font-weight: 700;
}

.white {
    color: white;
}

.blue {
    color: #006dfe;
}

/* small headings */
.darkblue {
    color: #102746;
}

.rb {
    border: 5px solid red;
}

.gb {
    border: 5px solid rgb(1, 255, 1);

}

.bb {
    border: 5px solid blue;
}

/* paragraphs */
.fs16_fwreg_lh24 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



/* benefits */
.fs18_lh24 {
    font-size: 18px;
    line-height: 24px;
}


/* footer */
.fs18_fwmed_lh24 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

h2 {
    color: #102746;
    /* display: inline; */

}

h3 {
    color: black;
    margin: 0 0 26px 0;
}



/* header */

header {
    width: 100%;
    position: absolute;
    z-index: 1;
    margin: 40px 0;

}

nav {
    padding: 20px 0;
}


nav li {
    list-style: none;
    display: inline-block;
}

nav div a {
    font-size: 22px;
}

nav a {
    font-size: 18px;
    color: white;
}

.menu a {
    margin: 0 20px;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/hero.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    height: 130vh;
    /* height: 100vh; */
    /* height: 100%; */
    position: relative;
}

.middle {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle h1 {
    width: 60%;
    font-size: 50px;
}

.middle p {
    width: 50%;
    margin: 20px 0;
}

.bullet {
    height: 20px;
    width: 50px;
    border-radius: 50%;
    border-top: 2px solid white;
    /* background-color: white; */
}

label {
    color: white;
}

input {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    width: 300px;
    height: 60px;
    background: transparent;
}

::placeholder {
    color: white;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: none !important;
}

.btn {
    color: white;
    background-color: #1b7dff;
    border-radius: 3px;
    border: none;
}

.lg {
    padding: 20px 55px;
    margin: 30px 0 0 0;
}

button:hover {
    cursor: pointer;
}

/* white */

.benefits {
    background-color: white;
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0%, 70%);

}

.benefits h2 {
    margin: 30px 0 60px 0;
}

.inspireddiv {
    margin: 20px 0;
}

.inspiredheading {
    width: 100%;
    border-bottom: 2px solid #f51c40;
    position: absolute;
    width: 5%
}

.cardheight {
    height: 300px;
}

.icons {
    padding: 30px 0;
}

.marginboth20 {
    margin: 0 20px;
}

.marginright20 {
    margin-right: 20px;
}

.marginleft20 {
    margin-left: 20px;
}


.benefitsbox {
    text-align: left;
    width: 280px;
}

.section1 {
    margin-top: 400px;
}

/* .container1{
    border: 1px solid red;
    max-width: 1208px; 
    margin: 0 auto;  
} */
.sections {
    width: 100%;
    padding: 50px 10px;
}

.content {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* two images */

.content .card2 {
    width: 50%;
    padding: 5px;
}

.content .card2 .box2 {
    padding: 0px;
}

/* three images */

.content .card3 {
    width: calc(100% / 3);
    padding: 5px;
}

.content .card3 .box3 {
    padding: 0px;
}



/* zig zag */

h3 {
    font-size: 30px;
    font-weight: 500;
}

.content .card6 {
    width: calc(100% / 3);

}







/* 20/5/2022 */

/* inspired section */

.outer {
    width: 100%;
}

.hp {
    height: 300px;
    padding: 5px 5px;
}

.top {
    width: 50%;
}

.bot {
    width: 33.33%;
}

.outer h1 {
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
}

.bgimage {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100% 100%;
}

.image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image1.png');
}

.image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image2.png');
}

.image3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image3.png');
}

.image4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image4.png');
}

.image5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/image5.png');
}

/* inspired section */



/* zigzag section */

/* .container2{
    border: 1px solid red;
    max-width: 1208px; 
    margin: 0 auto;  
} */

.inner {
    display: flow-root;
    width: 100%;
    /* border: 5px solid blue; */
    position: relative;
    margin: 70px 0;
}

.zig {
    width: 597px;
    height: 354px;
    object-fit: contain;
    padding-right: 70px;
}

.zag {
    width: 597px;
    height: 354px;
    object-fit: contain;
    padding-left: 70px;
}


.imgdiv1 {
    width: 50%;
    height: 100%;
    /* border:5px solid greenyellow; */
    position: absolute;
}

.imgdiv2 {
    width: 50%;
    height: 100%;
    /* border:5px solid greenyellow; */
    position: absolute;
    right: 0;

}

.textdiv {
    /* border:5px solid greenyellow; */
    width: 50%;
    /* height: 100%; */
    height: 354px;
    padding: 40px 90px;
}

/* zigzag section */

/* 6 pic layout */

.botbar {
    background-color: rgba(21, 24, 36, 0.6);
    color: white;
    padding: 10px 20px;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;

}

.botbar p {
    display: inline;
    color: white;
}

.bgimg {
    height: 377px;
    position: relative;
}

.hp6 {
    width: 386px;
    padding: 30px 30px;
}

.sm {
    padding: 10px 10px;
}

.six {
    width: calc(100% / 3);
}


.img1 {
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img1.png');
}

.img2 {
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img2.png');
}

.img3 {
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img3.png');
}

.img4 {
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img4.png');
}

.img5 {
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img5.png');
}

.img6 {
    height: 377px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/img6.png');
}

/* 6 pic layout */



/* video section */

.video {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/video.png");
    height: 609px;
    width: 100%;
    position: relative;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* video section */

/* footer */

footer,
.footerdiv {
    background-color: #0e1d28;
    height: 370px;
    position: relative;
    width: 80%;
    margin: 0 auto;

}

.footerlogo {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.footerlogo img {
    width: 20%;
}

.footerright {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 75%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.footerlist {
    width: 33.33%;
}


/* footer */